html, body {
  height: 100vh;
  margin: 0;
}
@media (max-width:900px) {
  .App {
    text-align: center;
    height: 100vh;
  }
}
@media (min-width:900px){
  .App {
    text-align: center;
    height: 100%;
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

a {
  text-decoration: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.active-night{
  background-color: white !important;
  color: black !important;
}

.night{
  background-color: #232634;
  color:#f3f3f3;
}

.sun{
  background-color: #FADC7B;
  color:#514f73;
}

.cloud{
  background-color: #6ff8e7;
  color:#514f73;
}

.navbar-container{
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px;
}

.loading {
  height: 100vh;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  
}